# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"
RMS_DATABASE_URL="mysql://hotel_butler:mysecretpassword@localhost:3306/rms"

ORIGIN=""

# Logging: trace | debug | info | warn | error | fatal | silent
LOG_LEVEL="info"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="rSaFNWseXDe2Jc22prynsXAnn5Pduh9C"
